include AUTHORS.rst
include LICENSE
include CHANGELOG.rst
include README.md
include docs/ *
include django_imagekit_cropper/ *
include django_imagekit_cropper/static/admin/media/crop/js/imagecrop.js
include django_imagekit_cropper/static/admin/media/crop/css/imagecrop.css
include django_imagekit_cropper/static/admin/media/crop/jcrop/css/Jcrop.gif
include django_imagekit_cropper/static/admin/media/crop/jcrop/css/jquery.Jcrop.css
include django_imagekit_cropper/static/admin/media/crop/jcrop/css/jquery.Jcrop.min.css
include django_imagekit_cropper/static/admin/media/crop/jcrop/js/jquery.color.js
include django_imagekit_cropper/static/admin/media/crop/jcrop/js/jquery.Jcrop.js
include django_imagekit_cropper/static/admin/media/crop/jcrop/js/jquery.Jcrop.min.js
include django_imagekit_cropper/static/admin/media/crop/jcrop/js/jquery.min.js