.image-cropper {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .image-cropper {
        margin-left: 170px;
    }
}

.image-crop-data .upscale {
    max-width: 260px;
    font-weight: bold;
}

.image-crop-data .upscale.warning {
    color: #ab2b2b;
}

.jcrop-holder {
    background-color: #eee !important;
}